@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
    font-display: swap;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  max-height: 100dvh;
  background: #323232;
  color: #fff;
}

*::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
}

/**::-webkit-scrollbar-track*/
/*{*/
/*    background: #323232;*/
/*    border-radius: 12px;*/
/*}*/


*::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 12px;
}
